<html><head>
{{>header}}
</head>
<body data-spy="scroll" data-target="#navbar-example3" data-offset="25">

<nav  class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <a  class="navbar-brand" >Wellbeing Application</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-pills">
                <li class="nav-item active ">
                    <a  class="nav-link text-white " href="/fitnessPage">Fitness Page </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/nutritionPage">Nutrition Page </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-outline-light text-dark" href="/healthyLifestylePage">Healthy Lifestyle Page <span class="sr-only">(current)</span></a>
                </li>
             </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <a id="logout" href="/logout" class="btn btn-outline-light my-2 my-sm-0">
                      Sign out
                    </a>
                  </form>
        </div>
        <a class="navbar-toggler" role="button" data-toggle="collapse" href="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>
     </nav>

<div class="bg-primary text-center text-white">
<h1 class="font-weight-bold">Healthy Lifestyle Page</h1>
<h5>View Information about healthy lifestyle and create healthy lifestyle goals to achieve</h5>
<br>
</div>

<br>
<div class="container-fluid">

<div class="row">
<div class="col-sm-2" >

</div>

<div class="col-sm-8">

<div id="goalsSection"> 
    <h2 class="text-center">Completed Goals</h2>

<div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
  <a href="/healthyLifestylePage" id="uncompletedHealthyLifestyleGoal"class="btn btn-primary mb-2 justify-content-end" role="button" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-check" viewBox="0 0 16 16">
  <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
  <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
  <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3Z"/>
</svg> Goals Completed</a>
</div>

<table class="table table-striped">
  <thead class="thead-primary">
    <tr>
      <th class="text-center align-middle" scope="col">Goal</th>
      <th class="text-center align-middle" scope="col">Goal Type</th>
      <th class="text-center align-middle" scope="col">Date Created</th>
      <th class="text-center align-middle" scope="col">Set Achievement Date</th>
      <th class="text-center align-middle" scope="col">Number of Repetitions</th>
      <th class="text-center align-middle" scope="col">Achievement Date</th>
      <th class="text-center align-middle" scope="col">
      <a href="/newHealthyLifestyleGoal" class="btn btn-primary" role="button" aria-pressed="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square mb-1" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg></a>
      </th>
    </tr>
  </thead>
{{#healthyLifestyleGoals}}
  <tbody>
    <tr>
    <th class="text-center align-middle"scope="row">{{goal}}</th>
      <td class="text-center align-middle" >{{goal_Type}}</td>
      <td class="text-center align-middle">{{goal_Created_Date}}</td>
      <td class="text-center align-middle">{{set_Achievement_Date}}</td>
      <td class="text-center align-middle">{{goal_Reps}}</td>
      <td class="text-center align-middle">{{actual_Achievement_Date}}</td>
      
      <td class="text-center align-middle">
    
      </td>
    </tr>
  </tbody>
  {{/healthyLifestyleGoals}}
  </table>

{{^healthyLifestyleGoals}}
<h5 class="text-center">No healthy lifestyle goals yet</h5>
{{/healthyLifestyleGoals}}
</div>

      <div id="regularExerciseSection" > 
      <br>   
      <br>   
      <br>         
        <h2 class="text-center">Regular Exercise</h2>
        <br>
        <p style="font-size:18px" class="text-justify">Regular exercise is an important part of a healthy lifestyle. Aim for at least 150 minutes of moderate-intensity exercise or 75 minutes of vigorous-intensity exercise per week, along with muscle-strengthening exercises at least two days per week.</p>
      </div>

      <div id="physicalActivitySection" >   
      <br>   
      <br>   
      <br> 
        <h2 class="text-center">Physical Activity</h2>
        <br>
      
      <div class="container">
      <div class="row">  
      <div class="col-sm">
      <br>

        <p style="font-size:18px" class="text-justify">Physical activity can be any type of movement that gets your body moving and burns calories, such as walking, dancing, gardening, or playing sports. Finding activities that you enjoy can help make exercise a regular part of your lifestyle.</p>
      </div>
      <div class="col-sm text-center">
        <img src="https://media.istockphoto.com/id/1185025514/photo/soccer-ball-under-soccer-players-feet-on-blue-background.jpg?s=170667a&w=0&k=20&c=aNT7ovYuro6w7ABSMP8nqkH9qy8tQHuMWsk22zcP-yc=" alt="Runner" width="300" height="200" class="rounded mx-auto d-block">
      </div>
      </div>
      </div> 

      </div>  

      <div id="mindBodyExercisesSection" > 
            <br>   
      <br>   
      <br>    
        <h2 class="text-center">Mind-Body Exercises</h2>
        <br>
       
      <div class="container">
      <div class="row">  
      <div class="col-sm text-center">
        <img src="https://img.freepik.com/premium-photo/yoga-zen-woman-doing-meditation-exercise-gym-with-lotus-pose-calm-peace-balance-mindfulness-energy-girl-doing-pilates-workout-mind-body-spiritual-health-wellness_590464-120036.jpg?w=360" alt="Runner" width="300" height="200" class="d-flex align-items-center rounded mx-auto d-block">
      </div>
      <div class="col-sm">
      <br>
        <p style="font-size:18px" class="text-justify d-flex align-items-center">Mind-body exercises such as yoga, tai chi, or Pilates can help reduce stress, improve flexibility, and increase mindfulness. Incorporating these exercises into your fitness routine can help enhance your overall sense of wellbeing.</p>
      </div>
      </div>
      </div> 

      </div>
      
      <div id="outdoorExerciseSection" > 
            <br>   
      <br>   
      <br> 
        <h2 class="text-center">Outdoor Exercise</h2>
        <br> 
      <div class="container">
      <div class="row">  
      <div class="col-sm">
      <br>
      <br>
      <br>
        <p style="font-size:18px" class="text-justify d-flex align-items-center">Spending time in nature can have many benefits for your mental and physical health. Consider incorporating outdoor activities such as hiking, biking, or swimming into your fitness routine.</p>
      </div>
      <div class="col-sm text-center">
        <img src="https://thumbs.dreamstime.com/b/fitness-exercise-cartoon-fitness-exercise-couple-running-workout-healthy-fit-lifestyle-outdoor-scene-cartoon-vector-illustration-145802896.jpg" alt="Runner" width="250" height="250" class="d-flex align-items-center rounded mx-auto d-block">
      </div>
      </div>
      </div> 

      </div> 

      <div id="activeLifestyleSection" >   
              <br>
        <br>      
        <h2 class="text-center">Active Lifestyle</h2>
        <br>
        <p style="font-size:18px" class="text-justify">Being active throughout the day is an important part of a healthy lifestyle. Look for ways to incorporate more movement into your daily routine, such as taking the stairs instead of the elevator, walking or biking to work, or taking a break to stretch or go for a walk during the workday.</p>      
        
      </div>
<br>
<br>
<br>
<br>
<br>
<br> 

</div>
<div class="col-sm-2">

<div class="sticky-top">
<br>
<br>
<br>
 <nav id="navbar-example3" class="navbar">

      <ul class="nav nav-pills flex-column">
      <li class="nav-item">
          <a class="nav-link active" href="#goalsSection">Goals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#regularExerciseSection">Regular Exercise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#physicalActivitySection">Physical Activity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mindBodyExercisesSection">Mind-Body Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#outdoorExerciseSection">Outdoor Exercise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#activeLifestyleSection">Active Lifestyle</a>
        </li>
      </ul>

  </nav>
</div>

</div>

</div>

</div>
</body>

<div class="footer bg-primary">
  <br>
  <p>Zuhayr Umar - WAD2 Practical Coursework: Development of a wellness web application</p>
  <br>
</div>
</html>