<html lang="en">
<head>
{{>header}}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" >Navbar</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/fitnessPage">Fitness Page <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nutritionPage">Nutrition Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/healthyLifestylePage">Healthy Lifestyle Page</a>
                </li>
             </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <a id="logout" href="/logout" class="btn btn-outline-light my-2 my-sm-0">
                      Sign out
                    </a>
                  </form>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

<div class="container">
<br>
<h2>Write a new {{title}} Goal</h2>

<form method="post" role="form" action="/newFitnessGoal">

<div class="form-group">
<label for="goal">Goal</label>
<input type="text" class="form-control" id="goal"
name="goal" placeholder="Enter a new goal" 
required>
</div>

<div class="form-group">
<label for="goal_Type">Goal Type</label>
<input type="text" class="form-control" id="goal_Type"
name="goal_Type" placeholder="Enter the type of goal">
</div>

<div class="form-group">
<label for="set_Achievement_Date">Set Achievement Date</label>
<input type="text" class="form-control" id="set_Achievement_Date"
name="set_Achievement_Date" placeholder="Enter an achievement date in format **/**/****"
required>
</div>

<div class="form-group">
<label for="goal_reps">Number of Repetitions</label>
<input type="number" class="form-control" id="goal_reps"
name="goal_reps" placeholder="Enter a number of repetitions">
</div>

<div class="form-group">
<button id="newGoal" class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg> Add</button>
</div>
</form>

</div>

</body
</html>