<html lang="en">
<head>
{{>header}}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" >Navbar</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/fitnessPage">Fitness Page <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nutritionPage">Nutrition Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/healthyLifestylePage">Healthy Lifestyle Page</a>
                </li>
             </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <a id="logout" href="/logout" class="btn btn-outline-light my-2 my-sm-0">
                      Sign out
                    </a>
                  </form>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

<div class="container">
<br>
<h2>Write a new {{title}} Goal</h2>

<form method="post" role="form" action="/newFitnessGoal">

<div class="form-group">
<label for="goal">Goal</label>
<input type="text" class="form-control" id="goal"
name="goal" placeholder="Enter a new goal" 
required>
</div>

<div class="form-group">
<label for="goal_Type">Goal Type</label>
<input type="text" class="form-control" id="goal_Type"
name="goal_Type" placeholder="Enter the type of goal">
</div>

<div class="form-group">
<label for="set_Achievement_Date">Set Achievement Date</label>
<input type="text" class="form-control" id="set_Achievement_Date"
name="set_Achievement_Date" placeholder="Enter an achievement date in format **/**/****"
required>
</div>

<div class="form-group">
<label for="goal_reps">Number of Repetitions</label>
<input type="number" class="form-control" id="goal_reps"
name="goal_reps" placeholder="Enter a number of repetitions">
</div>

<div class="form-group">
<input type="submit" value="Add New Goal" class="btn btn-primary">
</div>

</form>

</div>

</body
</html>