<html><head>
{{>header}}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" >Navbar</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/fitnessPage">Fitness Page <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nutritionPage">Nutrition Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/healthyLifestylePage">Healthy Lifestyle Page</a>
                </li>
             </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <a id="logout" href="/logout" class="btn btn-outline-light my-2 my-sm-0">
                      Sign out
                    </a>
                  </form>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

<div class="container">
<br>
<h1>Fitness Page</h1>

<a href="/fitnessPage" class="btn btn-primary" role="button" aria-pressed="true">Goals Uncompleted</a>
<h2>Completed Goals</h2>

<table class="table table-striped">
  <thead class="thead-primary">
    <tr>
      <th class="text-center align-middle" scope="col">Goal</th>
      <th class="text-center align-middle" scope="col">Goal Type</th>
      <th class="text-center align-middle" scope="col">Date Created</th>
      <th class="text-center align-middle" scope="col">Set Achievement Date</th>
      <th class="text-center align-middle" scope="col">Number of Repetitions</th>
      <th class="text-center align-middle" scope="col">Goal Achieved</th>
      <th class="text-center align-middle" scope="col">Achievement Date</th>
      <th class="text-center align-middle" scope="col">
      <a href="/newFitnessGoal" class="btn btn-primary" role="button" aria-pressed="true">New Goal</a>
      </th>
    </tr>
  </thead>
{{#fitnessGoals}}
  <tbody>
    <tr>
      <td class="text-center align-middle" scope="row">{{goal}}</td>
      <td class="text-center align-middle" >{{goal_Type}}</td>
      <td class="text-center align-middle">{{goal_Created_Date}}</td>
      <td class="text-center align-middle">{{set_Achievement_Date}}</td>
      <td class="text-center align-middle">{{goal_Reps}}</td>
      <td class="text-center align-middle">{{goal_Achieved}}</td>
      <td class="text-center align-middle">{{actual_Achievement_Date}}</td>
      <td class="text-center align-middle">

        <form action="/editFitnessGoal/{{_id}}" method="GET">
          <fieldset>
            <button id="editgoal" class="btn btn-outline-dark" type="submit">Edit Goal</button>
          </fieldset>
        </form>

        <form action="/deleteGoal/{{_id}}" method="POST">
          <fieldset>
            <button id="deletegoal" class="btn btn-outline-dark" type="submit">Delete Goal</button>
          </fieldset>
        </form>

        <form action="/completedGoal/{{_id}}" method="POST">
          <fieldset>
            <button id="completedGoal" class="btn btn-outline-dark" type="submit">Goal Completed</button>
          </fieldset>
        </form>
    
      </td>
    </tr>
  </tbody>
  {{/fitnessGoals}}
  </table>

{{^fitnessGoals}}
No fitness goals yet.
{{/fitnessGoals}}

</div>
</body>
</html>